.login-form{
    width: 600px;
}

.login-checker{
    width: 200px;
}

.btn-box{
    margin-top: 20px;
}

.register-form,
.add-book{
    margin-top: 30px;
    border: solid 1px gray;
    padding: 10px;
    display: none;
}
.register-form.on,
.add-book.on{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.book-list{
    margin-top: 30px;
    display: flex;
    gap: 5px;
}
.book-list div{
    border: solid 1px blue;
    padding: 10px;
}

.history{
    margin-top: 30px;
    display: flex;
    gap: 5px;
}

.history div{
    border: solid 1px orange;
    padding: 10px;
}